# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.zip
.env
.venv/
*.egg-info/
Processed data/
Raw data/*
!Raw data/.gitkeep

# PyInstaller
dist/
build/
*.spec

# macOS
.DS_Store

# VSCode o PyCharm
.vscode/
.idea/

# Ejecutables
*.exe

# Docker
*.log
docker-compose.override.yml

# Git
*.swp
*~